@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;

    --red-orange: #e6563b;
    --orange: #EB9D3A;          /* typo: #cea03d; */
    --green: #7cb06c;
    --emerald: #00aba9;
    --off-white: #f0f0f0;
    --gray: #e6e6e6;

    --blue: #1DA1F2;
}

/* ########## BEGIN GLOBAL STYLE UTILITIES########## */
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: var(--gray);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

h1, h2, h3, h4, h5 {
    font-family: Anton, sans-serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 60px;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.75rem;
}

p {
    font-family: 'Abel', sans-serif;
}

/* I believe bootstrap added 2rem of padding, hence the padding 0*/
/*It effected the nav-links*/
ul, ol {
    list-style-type: none;
    padding-left: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
    font-family: 'Abel', sans-serif;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}
/* ########## END GLOBAL STYLE UTILITIES########## */

.white-navbar {
    /*max-height: 100px;*/
    height: 70px;
    width: 100%;
    background: white;
    position: absolute;
    z-index: -5;
    /*top adjusts position of white navbar and its content*/
    top: 70px;
}

.navbar-items{
    /*this class allows pinpoint adjustments of the navbar content*/
    z-index: 33;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-top: 50px;*/
    position: relative;
    top: 50px;
}

/*.navbar-items-container {*/
/*    !*this class allows pinpoint adjustments of the navbar content*!*/
/*    z-index: 33;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    !*margin-top: 50px;*!*/
/*    position: relative;*/
/*    top: 20px;*/
/*}*/

.cd-logo {
    width: 105px;
    height: 105px;
}
.codeup-design-logo-text{
    display: none;
}
.codeup-design-logo-text-nav {
    display: none;
}
.navbar-items2{
    display: none;
}
.navbar-items3 {
    display: none;
}
.navbar-items p {
    font-size: 3rem;
}

.nav-links {
    /*adjusts navigation ul*/
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--black);
}

.nav-links a {
    color: var(--black);
}

h1 {
    /*    controls the only h1 on the page "visual design..*/
    margin-top: 60px;
}

h1 + h2 {
    text-align: center;
    margin-top: 60px;
}
/*Controls service buttons*/
.service-badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px 0;
    /*max-width: 450px;*/
}
.service-badges_badge{
    /*    this adjusts the large services badges underneath the h1*/
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: solid 12px var(--white);
    margin-bottom: 15px;
}
.service-badges_badge h3{
    font-size:2.2rem ;
}

.design,
.circle-red-orange {
    background:var(--red-orange)
}
.develop,
.circle-orange {
    background:var(--orange)
}
.support,
.circle-green {
    background:var(--green)
}
.host,
.circle-emerald {
    background:var(--emerald)
}

/* SELECTED WORK COLUMN */
.featured-product-img {
    border: solid 10px var(--gray);
}

.featured-project-text {
    font-size: 1rem;
    font-family: Abel, sans-serif;
}

.circle-small {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 0;
}

/* THE LAST THING COLUMN */
.the-last-thing-img {
    border: solid 4px var(--gray);
}

.the-last-bullet-text {
    width: 175px; /* keeps bullet text positioned like the examples */
    margin-top: 7px;
    margin-left: 10px;
    font-family: Anton,sans-serif;
    font-size: 1.1rem;
}

.the-last-thing-margin {
    margin-bottom: 20px;
}

/* offset twitter icon */
.twitter-fix {
    position: relative;
    top: 3px;

    color: var(--blue);
}


/*MEDIA QUERIES*/
@media screen and (min-width: 576px) {
    .service-badges {
        width: 100%;
        /*max-width: 90%;*/
        margin: 60px auto 80px auto;
        position: relative;

    }
    .service-badges_badge{
        width: 190px;
        height: 190px;
    }
}
@media screen and (min-width: 768px) {
    .navbar-items {
        display: none;
    }

    .navbar-items2 {
        display: block;
        z-index: 77;
        width: 95%;
        margin: 50px auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .left-links-ul-md li a, .right-links-ul-md li a{
        color: var(--black);
        font-size: 1.3rem;

    }
    .left-links-ul-md, .right-links-ul-md{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-grow: 2;
        padding-top: 18px;
    }
    .logo2-md{
        width: 105px;
        height: 105px;
        display:inline-block;
        /*position: relative;*/
        /*flex-grow: 1;*/
    }
    .codeup-design-logo-text {
        font-size: 2rem;
        text-align: center;
        display: block;
    }

    h1 {
        margin-top: 30px;
    }
    .service-container h2{
        margin-top: 40px;
    }

    .service-badges {
        width: 100%;
        /*max-width: 100%;*/
        margin: 60px auto 80px auto;
        position: relative;

    }

    .service-badges::after {
        content: "";
        position: absolute;
        width: 70%;
        height: 3px;
        background: lightgray;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
    }

    .service-badges_badge {
        /*    this adjusts the large services badges underneath the h1*/
        width: 170px;
        height: 170px;
        border-radius: 50%;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: solid 12px var(--white);
        margin-bottom: 15px;
    }
}


@media screen and (min-width: 992px) {
    .navbar-items2 {
        display: none;
    }
    .navbar-items3 {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .codeup-design-logo-text {
        display: none;
    }
    .codeup-design-logo-text-nav-lg {
        font-size: 2rem;
        text-align: center;
        display: inline-block;
        flex-grow: 2;
        margin-bottom: 0;
        text-align: left;
        padding-left: 1rem;
    }
    .right-links-ul-lg{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-grow: 2;
        padding-top: 18px;
    }
    .logo2-lg{
        width: 105px;
        height: 105px;
        display:inline-block;
        /*position: relative;*/
        /*flex-grow: 1;*/
    }
    .right-links-ul-lg a{
        color: var(--black);
    }
}

@media screen and (max-width: 768px) {
    .last-thing-no-display {
        display: none;
    }
}

/* GRID BORDERS */
.dev-container {
    /*border: solid 1px green;*/
}

.dev-row {
    /*border: solid 3px red;*/
}

.dev-column {
    /*border: dotted 3px blue;*/
}
